@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-5">
        <button class="btn btn-success mb-3" onclick="EntrarNoChat()" id="entrarChat">Entrar no chat</button>
        <div class="row mb-2">
            <div class="col-md-4">
                <input type="text" name="destinatario" class="form-control" id="destinatario" placeholder="Destinatário" />
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <textarea name="mensagem" class="form-control" id="mensagem" placeholder="Mensagem"></textarea>
            </div>
        </div>
        <button class="btn btn-primary mt-3" onclick="EnviarMensagem()">Enviar nova mensagem</button>
        <div id="participantes"></div>
    </div>
    <div class="col-md-7">
       <h3 >Mensagens recebidas</h3>
        <div id="mensagens" class="justify-content-center"></div>
    </div>
</div>



